

pdf2docx
Pillow
APScheduler
pypdf

# --- Flask & Core ---
Flask
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
Werkzeug

# --- Sécurité & Hashing ---
bcrypt
itsdangerous
PyPDF2
# --- Outils & Utilitaires ---
requests
python-dotenv
markdown
html2text
PIL
werkzeug
docx
fpdf

pdfplumber


# --- Compression & Conversion (si ton app en fait) ---
Pillow
moviepy
pydub

# --- Formatage / Analys ---
beautifulsoup4
lxml

# --- Déploiement & Serveur ---
gunicorn
waitress
